@import "//db.onlinewebfonts.com/c/6e090c73689d12b9747bf7e986f64587?family=FuturaBTW02-Bold";
@import "//db.onlinewebfonts.com/c/1ce2d5cd34ac27b0c31dbf6cc3c1f272?family=Myriad+Hebrew";

html, body {
  margin: 0;
}

.header {
  height: 628px;
  border: 0.1px solid transparent;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.header::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background: url("../assets/bg1.jpg") center no-repeat fixed;
  background-size: cover;
}

.navbar {
  height: 110px;
  margin-top: 32px;
  background-color: #fff;
}

.header-text {
  font: 900 52px 'FuturaBTW02-Bold', 'Myriad Hebrew', AdobeInvisFont;
  color: #fff;
  width: 100%;
  height: calc(100% - 142px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.header-text p {
  margin: 10px 0;
}