@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);

body {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Myriad Pro', AdobeInvisFont, Courier, sans-serif;
}

.header {
  margin-top: 61px;
}

.logo-link {
  font-size: 80px;
  color: rgba(0, 0, 0, 255);
  text-decoration: none;
}

.text-blue {
  color: #4bcaff;
}

.nav-top {
  width: 100%;
  margin-top: 45px;
  text-align: center;
  background-color: #35444f;
  line-height: 69px;
}

.nav-top .nav-link {
  color: white;
  padding: 22px 41px;
  font-size: 24px;
  vertical-align: middle;
  text-decoration: none;
}

.nav-top .nav-link:hover {
  border-left: 1px solid #818181;
  border-right: 1px solid #818181;
  background-color: #222f3a;
}

.nav-left {
  width: 334px;
  border: 1px solid #35444f;
  display: inline-block;
  padding: 0;
  margin-top: 51px;
  list-style-type: none;
  vertical-align: top;
}

.nav-left .nav-link {
  color: rgba(72, 88, 99, 255);
  width: 100%;
  display: inline-block;
  padding: 28px 0 28px 42px;
  font-size: 29px;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-left .nav-link:hover {
  color: #000000;
  padding-left: 69px;
  background-color: #dbdbdb;
}

.main {
  margin: 51px 0 0 52px;
  display: inline-block;
}

.main-img-block {
  width: 885px;
  height: 529px;
  border: 1px solid #35444f;
  text-align: center;
  line-height: 529px;
  overflow: hidden;
}

.main-img {
  vertical-align: middle;
  transition: all 2s ease;
}

.main-img:hover {
  transform: scale(1.3);
}

.container {
  width: 820px;
  color: rgba(44, 44, 44, 255);
  margin: 50px auto;
}

.container p {
  margin: 30px 0;
  font-size: 18px;
  line-height: initial;
}

.footer {
  width: 100%;
  margin-bottom: 30px;
  background-color: #b4b7ba;
}

.nav-footer {
  display: inline-block;
  margin-left: 44px;
  line-height: 69px;
}

.nav-footer .nav-link {
  color: #0c1927;
  font-size: 28px;
  margin-right: 15px;
  vertical-align: middle;
  text-decoration: none;
}

.nav-footer .nav-link:hover {
  color: #4288a9;
  border-bottom: 1px solid #4288a9;
}

.copyright {
  float: right;
  text-align: right;
  line-height: 69px;
  margin-right: 34px;
}

.copyright-text {
  color: #0c1927;
  font-size: 24px;
  vertical-align: middle;
}